{% if hetzner_installimage_cryptpassword is defined and hetzner_installimage_cryptpassword|length %}
CRYPTPASSWORD {{ hetzner_installimage_cryptpassword }}
{% endif %}

{% for disk in hetzner_installimage_disks %}
DRIVE{{ loop.index }} {{ disk }}
{% endfor %}

SWRAID {{ hetzner_installimage_swraid }}
SWRAIDLEVEL {{ hetzner_installimage_swraidlevel }}

BOOTLOADER grub

HOSTNAME {{ hetzner_installimage_hostname }}

# Physical partitions
{% if hetzner_installimage_esp %}
PART /boot/efi esp 256M
{% endif %}
{% for part in hetzner_installimage_partitions -%}
  PART {{ part.mountpoint }} {{ part.filesystem }} {{ part.size }} {% if 'encrypted' in part and part.encrypted and hetzner_installimage_cryptpassword is defined and hetzner_installimage_cryptpassword|length %}crypt{% endif %}

{% endfor %}

# Logical volumes
{% for lv in hetzner_installimage_logical_volumes -%}
  LV {{ lv.vg }} {{ lv.name }} {{ lv.mountpoint }} {{ lv.filesystem }} {{ lv.size }}
{% endfor %}

IMAGE {{ hetzner_installimage_image }}
SSHKEYS_URL /tmp/authorized_keys
